footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    padding-bottom: 30px;
    padding-top: 20px;
    border-top: 1px solid #eaeaea;
    background-color: white;
}

.footer-block {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 10px;
    margin: 0 10px 0 10px;
    cursor: pointer;
}

@keyframes icons-dong {
    0% {
        transform: translateY(0px);
    }  
    30% {
        transform: translateY(-10px);
    }  
    70% {
        transform: translateY(-10px);
    }  
    100% {
        transform: translateY(0px);
    }    
}


.footer-icons__img {
    width: 30px;
}

.footer-icons:hover .footer-icons__img {
    animation: 2s icons-dong ;
}

.footer-icons__desc {
    margin-top: 5px;
    font-size: 9px;
    font-weight: bold;
}